* {
  background-color: rgb(255, 253, 251);
}

.App {
  text-align: center;
}

.App-header {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navbar {
  text-decoration: none;
  color: rgb(82, 66, 66);
  font-family: Copperplate;
  padding: 10px;
}

.comment-card{
  text-align: left;
 margin-bottom:50px;
}

.comment-card-username {
  font-weight: bold;
  font-family: Georgia, serif;
  color: rgb(133, 108, 255);
  text-shadow: 0 0 8px rgb(239, 121, 255);
}

h1 {
  font-family: Georgia, serif;
  margin: 20px;
  padding: 60px;
  color: #675250;
  text-shadow: 2px 2px #ffa4a6;
  -webkit-text-stroke: 1px #71443f;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://img.freepik.com/free-vector/realistic-vintage-papers_1284-25431.jpg");
}

h2 {
  font-family: Copperplate;
  color: rgb(255, 143, 143);
  text-shadow: 1px 1px #5b554f;
}

li {
  font-family: "Copperplate";
  color: 1px 1px #5b554f;
}
h3 {
  color: #524a43;
  font-family: Georgia, serif;
}

h4 {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  color: #6c655e;
}
h5 {
  color: #6c655e;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
}

button{
  border-radius: 30%;
  border-color: #d79cfe;
  background-color:#ffecf8
}

@media (prefers-reduced-motion: no-preference) {
}
