* {
  background-color: rgb(255, 253, 251);
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navbar {
  text-decoration: none;
  color: rgb(82, 66, 66);
  font-family: Copperplate;
}

h1 {
  font-family: Georgia, serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #665856;
  text-shadow: 2px 2px #ff797c;
  -webkit-text-stroke: 1px #71443f;
}
h2 {
  font-family: Copperplate;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(255, 143, 143);
  text-shadow: 1px 1px #5b554f;
}

li {
  font-family: "Copperplate";
  padding-top: 20px;
  padding-bottom: 20px;
  color: 1px 1px #5b554f;
}
h3 {
  font-family: Georgia, serif;
}

h4 {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
}
