* {
  background-color: rgb(255, 253, 251);
}

.App {
  text-align: center;
}

.App-header {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navbar {
  text-decoration: none;
  color: rgb(82, 66, 66);
  font-family: Copperplate;
  padding: 10px;
  font-size: 16px;
}

.Usernavbar {
  text-decoration: none;
  color: rgb(191, 113, 113);
  font-family: Copperplate;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff7eb;
}

.userPic {
  border-radius: 10%;
  object-fit: contain;
}

.navbar-article {
  text-decoration: none;
  color: rgb(82, 66, 66);
  font-family: Copperplate;
  

}

.articlescontainer {
  display: inline-block;
  /* grid-template-rows: 70px 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: stretch ; */
  grid-template-rows: repeat(3, 150px);
grid-template-columns: repeat(4, 1fr)
  
}

.article-design {
  border: #edd9d0 solid;
  box-shadow: 10px 10px rgb(218, 206, 198);
 padding-top:10px;
 padding-left:20px;
 padding-right:20px;
border-radius: 5%;
  margin-top: 30px;
  align-self: center;
  flex-basis: 25%;
  margin-left: 500px;
  margin-right: 500px;

}

.article-design > h1, h2,h3,h4,h5 {
font-size: 16px;
}

.comment-card {
  text-align: left;
  margin-bottom: 50px;
}

.comment-title {
  font-family: Georgia, serif;
  color: rgb(98, 85, 96);
  text-shadow: 2px 2px 2px #b996ff;
  text-align: left;
}

.comment-card-username {
  text-align: left;
  font-weight: bold;
  font-family: Georgia, serif;
  color: rgb(133, 108, 255);
  text-shadow: 0 0 8px rgb(239, 121, 255);
}

.votesbutton {
  border-radius: 30%;
  border-color: #ffb2c4;
  background-color: #ffecf8;
  margin: 10px;
}

.addUsernameTextbox {
  text-align: center;
  color: #675250;
  margin: auto;
  display: block;
  border-radius: 5px;
  border-color: #9e9d9e;
  padding-left: 10px;
  padding-right: 10px;
}

.addCommentTextbox {
  text-align: center;
  color: #675250;
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  border-color: #9e9d9e;
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.addCommentSubmit {
  color: #ffffff;
  font-weight: bolder;
  font-family: Georgia, serif;
  border-color: #debdfc;
  background-color: #a282f8;
  border-radius: 6px;
}

.successfulMsg {
  font-family: Trebuchet MS, sans-serif;
  font-weight: normal;
  color: rgb(78, 201, 152);
  font-size: 13px;
}

.errorMsg {
  font-family: Trebuchet MS, sans-serif;
  font-weight: normal;
  color: red;
  font-size: 13px;
}

.sortBy {
  text-align: right;
}

.sortByButton {
  position: relative;
  left: 200px;
  border-radius: 20%;
  border-color: #c1ffeaa1;
  background-color: #feedf8df;
  margin: 5px;
  width: 100px;
  padding: 6px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  color: #45403a;
}

.username {
  border-radius: 20%;
  border-color: #ffafcba1;
  background-color: #feedf8df;
  margin: 5px;
  width: 100px;
  padding: 6px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  color: #45403a;
}

h1 {
  font-family: Georgia, serif;
  margin: 20px;
  padding: 60px;
  color: #675250;
  text-shadow: 2px 2px #ffa4a6;
  -webkit-text-stroke: 1px #71443f;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://img.freepik.com/free-vector/realistic-vintage-papers_1284-25431.jpg");
}

h2 {
  font-family: Copperplate;
  color: rgb(255, 143, 143);
  text-shadow: 1px 1px #5b554f;
}

li {
  font-family: "Copperplate";
  color: 1px 1px #5b554f;
}
h3 {
  color: #524a43;
  font-family: "Copperplate";
}

h4 {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  color: #6c655e;
}
h5 {
  color: #6c655e;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
}

button {
  border-radius: 30%;
  border-color: #d79cfe;
  background-color: #ffecf8;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
}
